<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="edgesync-service" value="https://pkgs.dev.azure.com/Advantech-EBO/d592cbbf-1bf4-4d80-8f88-e70b1ba73d84/_packaging/edgesync-service/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="edgesync-service">
      <package pattern="EdgeSync.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>